.author{
    font-size: 21px;
    color: var(--main-color);
    padding-bottom: 10px;
}

.title{
    font-size: 32px;
    color: var(--second-color);
    padding-bottom: 15px;
}

.note_field{
    padding: 20px;
    border: var(--main-color);
    border-style: dotted;
    margin-bottom: 30px;
}

.max-width-elem{
    padding: 5px;
    justify-content: center;
    background-color: var(--main-color);
    margin-bottom: 20px;
    color: #fff;
}

.max-width-elem.encrypted{
    background-color: var(--second-color);
}

.form-row{
    margin-top: 30px;
}