.author{
    font-size: 21px;
    color: var(--main-color);
    padding-bottom: 10px;
    align-items: center;
    margin-top: 5px;
}
.author span{
    font-size: 15px;
    color: #000;
}

.title{
    font-size: 32px;
    color: var(--second-color);
    padding-bottom: 15px;
}

.note_field{
    padding: 20px;
    border: var(--main-color);
    border-style: dotted;
    margin-bottom: 30px;
}

.note_field:hover {
    box-shadow: 5px 4px 10px #0000003e;
}

.max-width-elem{
    padding: 5px 0;
    justify-content: center;
    background-color: var(--main-color);
    color: #fff;
}


.empty-warning {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 50px 0;
    text-align: center;
    justify-content: center;
}

.max-width-elem.encrypted{
    background-color: var(--second-color);
}

.form-row{
    margin-top: 30px;
}

form .form-row label.decrypted_pass{
    width: unset;
}