<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>notes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1.0">
        <link href="/styles/list.css" rel="stylesheet" type="text/css">
        <link href="/styles/main_style.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/images/favicon.ico"/>
    </head>
    <body>
        <header>
            <a href="/" class="logo">
                <img src="/images/logo.svg" alt="logo">
                <p><span>notes</span> notatki </p>
            </a> 
            <nav>
                <div class="menu">
                    <ul>
                        {% if not loggedin %}
                        <li><a href="/">Strona główna</a></li>
                        <li><a href="/login">Zaloguj się</a></li>
                        {% endif %}
                        {% if loggedin %}
                        <li><a href="/notes_list">Moje notatki</a></li>
                        <li><a href="/add_note">Dodaj notatkę</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% if loggedin %}
            <div class="left_panel">
                <a href="/logout">Wyloguj</a>
                <a href="/login">
                    <img src="/images/konto.svg" alt="moje konto"> 
                </a>
            </div>
            {% endif %}
            {% if not loggedin %}
            <a href="/login">
                <img src="/images/konto.svg" alt="moje konto"> 
            </a>
            {% endif %}
        </header>

        <div class="max-width-elem">
            <a id="logout_button" class="btn" href="/add_note" method="POST">Dodaj notatkę</a>
        </div>

        <section class="text">
            
            <h1 id="title">Lista twoich notatek</h1>

            <div class="notes_list">
                <div class="note_field">
                    <div class="author">Kasia S.</div>
                    <div class="date">24-08-2016</div>
                    <p class="text">Jakaś treść notatki. Jakaś treść notatki. Jakaś treść notatki. Jakaś treść notatki. Jakaś treść notatki. Jakaś treść notatki. Jakaś treść notatki. </p>
                </div>

                {% for note in notes %}
                {% if note.public %}
                    <p>notatka publiczna</p>
                    {% endif %}
                    <div class="note_field">
                        <div class="author">{{note.author}}</div>
                        <div class="date">{{note.date}}</div>
                        <p class="text">{{note.note_content}}</p>
                    </div>
                    {% if note.encrypt %}
                    <p>notatka zaszyfrowana</p>
                    {% endif %}
                {% endfor %}

            </div>
            
        </section>

    </body> 
</html>