<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>notes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1.0">
        <link href="/styles/list.css" rel="stylesheet" type="text/css">
        <link href="/styles/form_style.css" rel="stylesheet" type="text/css">
        <link href="/styles/main_style.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/images/favicon.ico"/>
        <script type="module" src="/scripts/decrypt_note.js"></script>
    </head>
    <body>
        <header>
            <a href="/" class="logo">
                <img src="/images/logo.svg" alt="logo">
                <p><span>notes</span> notatki </p>
            </a> 
            <nav>
                <div class="menu">
                    <ul>
                        {% if not loggedin %}
                        <li><a href="/">Strona główna</a></li>
                        <li><a href="/login">Zaloguj się</a></li>
                        {% endif %}
                        {% if loggedin %}
                        <li><a href="/notes_list">Moje notatki</a></li>
                        <li><a href="/add_note">Dodaj notatkę</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% if loggedin %}
            <div class="left_panel">
                <a href="/logout">Wyloguj</a>
                <a href="/login">
                    <img src="/images/konto.svg" alt="moje konto"> 
                </a>
            </div>
            {% endif %}
            {% if not loggedin %}
            <a href="/login">
                <img src="/images/konto.svg" alt="moje konto"> 
            </a>
            {% endif %}
        </header>

        <section class="text">
            
            <h1 id="title">Lista twoich notatek</h1>

            <div class="notes_list">
                <div class="note_field">
                    <div class="author">Kasia S.</div>
                    <div class="date">24-08-2016</div>
                    <p class="text">Jakaś treść notatki. Jakaś treść notatki. Jakaś treść notatki. Jakaś treść notatki. Jakaś treść notatki. Jakaś treść notatki. Jakaś treść notatki. </p>
                </div>
                
                {% for note in notes %}
                    <div class="note_field" id="{{note.id|string + '_note_field'}}">
                        {% if note.public %}
                            <div class="max-width-elem">NOTATKA PUBLICZNA</div>
                        {% endif %}
                        {% if note.encrypted %}
                            <div class="max-width-elem encrypted">NOTATKA ZASZYFROWANA</div>
                        {% endif %}
                        <div class="author">{{note.author}}</div>
                        <div class="date">{{note.date}}</div>
                        {% if note.encrypted %}
                            <form id="decrypt-note-form">
                                <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <input id="note_id" type="hidden" name="note_id" value="{{ note.id }}"/>
                                <div class="form-row">
                                    <label id='label_passwd' for="decrypt_passwd">Podaj hasło do odszyfrowania notatki: </label>
                                    <input id="decrypt_passwd" type="password" name="decrypt_passwd">
                                    <input class="btn small" id="button-submit-form" type="submit" value="Odszyfruj notatkę"/> 
                                </div>
                            </form>
                        {% endif %}
                        {% if not note.encrypted %}
                            <p class="text">{{note.note_content}}</p>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
            
        </section>

    </body> 
</html>