<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>notes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1.0">
        <link href="/styles/error.css" rel="stylesheet" type="text/css">
        <link href="/styles/main_style.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/images/favicon.ico"/>
    </head>
    <body>
        <header>
            <a href="/" class="logo">
                <img src="/images/logo.svg" alt="logo">
                <p><span>notes</span> notatki </p>
            </a> 
            <nav>
                <div class="menu">
                    <ul>
                        {% if not loggedin %}
                        <li><a href="/">Strona główna</a></li>
                        <li><a href="/login">Zaloguj się</a></li>
                        {% endif %}
                        {% if loggedin %}
                        <li><a href="/notes_list">Moje notatki</a></li>
                        <li><a href="/add_note">Dodaj notatkę</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% if loggedin %}
            <div class="left_panel">
                <a href="/logout">Wyloguj</a>
                <a href="/login">
                    <img src="/images/konto.svg" alt="moje konto"> 
                </a>
            </div>
            {% endif %}
            {% if not loggedin %}
            <a href="/login">
                <img src="/images/konto.svg" alt="moje konto"> 
            </a>
            {% endif %}
        </header>

        <section>
            
            <h1>403!</h1>
            <p>
                Nie masz dostępu do żądanego zasobu. 
            </p>
            <p class="small">
                <strong>Szczegóły błędu:</strong>
                {{error}}
            </p>
            <a href="https://localhost"> Wróć na stronę główną. </a> 
            
        </section>

    </body>
</html>